<app-topo></app-topo>

<div *ngIf="jogoEmAndamento; else fimDeJogo">
    <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>

<ng-template #fimDeJogo>
  <div *ngIf="tipoEncerramento == 'derrota'; else fimDeJogoVitoria" class="container">
    <div class="jumbotron" style="margin-top: 2rem;">

      <div class="row">
        <div class="col">
            <h3 style="color: red">Você perdeu!</h3>
            <button class="btn btn-primary" (click)="reiniciarJogo()">Jogar novamente</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #fimDeJogoVitoria>
    <div class="container">
        <div class="jumbotron" style="margin-top: 2rem;">

          <div class="row">
            <div class="col">
                <h3 style="color: green">Você venceu!</h3>
                <button class="btn btn-primary" (click)="reiniciarJogo()">Jogar novamente</button>
            </div>
          </div>
        </div>
    </div>
</ng-template>